@import url("https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css");

/* SEARCH BAR */

nav {
  padding: 10rem 2rem;
}

.searchbar input {
  width: 80%;
  padding-left: 2rem;
}

.searchbar i {
  position: absolute;
  left: 2.5rem;
}

.list-group-item-action:hover {
  background-color:#343a40 !important;
  color: white !important;
}

.list-group-item-action:active {
  background-color:black !important;
  color: white !important;
}


/* MOVIE DETAILS */




.movie-details {
  margin-left: 50px;
  margin-top: 50px !important;
}

.movie-details img {
  margin-right: 2rem;
  margin-bottom: 2rem;
}

.movie-label {
  font-weight: bold;
}

.movie-details h1 {
  font-size: 2rem;
  margin-bottom: 1rem;
}

.movie-details li {
  margin-left: 2rem;
}
