button {
  font-size: calc(10px + 2vmin);
}

/* SEARCH BAR */

nav {
  padding: 5rem 4rem;
}

input.search {
  width: 70%;
  margin-right: 5px;
}

.movie-details {
  margin-left: 50px;
  margin-top: 50px !important;
  /* border: 1px solid red;*/
}

.movie-details img {
  margin-right: 2rem;
  margin-bottom: 2rem;
}

.movie-label {
  font-weight: bold;
}

.movie-details h1 {
  font-size: 1.5rem;
  margin-bottom: 1rem;
}
