

/* SEARCH BAR */

nav {
  padding: 5rem 2rem;
}

.searchbar input {
  width: 80%;
}


/* MOVIE DETAILS */

.movie-details {
  margin-left: 50px;
  margin-top: 50px !important;
}

.movie-details img {
  margin-right: 2rem;
  margin-bottom: 2rem;
}

.movie-label {
  font-weight: bold;
}

.movie-details h1 {
  font-size: 1.5rem;
  margin-bottom: 1rem;
}

.movie-details li {
  margin-left: 2rem;
}
